global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

listen stats
    bind *:8404
    stats enable
    stats uri /
    stats refresh 20s

resolvers docker
    nameserver dns 127.0.0.11:53
    resolve_retries       30
    timeout retry         1s
    hold other           30s
    hold refused         30s
    hold nx              30s
    hold timeout         30s
    hold valid           10s

frontend php_frontend
    bind *:9000
    default_backend php_backend

backend php_backend
    mode http
    balance roundrobin
    option httpchk GET /index.php
    option forwardfor
    server-template php- 1-10 php:9000 check resolvers docker resolve-prefer ipv4 init-addr libc,none
